{% extends 'dashboard_app/base.html' %}
{% load static %}

{% block title %}Consulta de Expedientes{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/expediente_consulta.css' %}">
{% endblock %}

{% block content %}
<h2>Consulta de Expedientes</h2>

<form method="get" novalidate>
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if expte %}
  <h3>Resultado</h3>
  <p><strong>Expediente:</strong> {{ expte.letra }}-{{ expte.actuacion|stringformat:"06d" }}-{{ expte.ejercicio }}</p>
  <!-- más campos -->
{% endif %}
{% endblock %}
