<!-- dashboard_app/templates/registration/login.html -->

{% extends "base_auth.html" %}
{% load static %}

{% block title %}Acceso INSSSEP Jubilaciones{% endblock %}

{% block page_specific_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="main-login-container">
    <div class="login">
        <h1 class="heading">INSSSEP Jubilaciones</h1>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input">
                <label for="{{ form.username.id_for_label }}">Usuario</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="field-errors">
                        {% for error in form.username.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="input">
                <label for="{{ form.password.id_for_label }}">Contraseña</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="field-errors">
                        {% for error in form.password.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="login-btn">Ingresar</button>
        </form>

        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% else %}
            <div class="form-errors">&nbsp;</div>
        {% endif %}
    </div>

    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-fondo">
</div>
{% endblock %}
